@model IEnumerable<MeuCrudCompleto.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<h1>Index</h1>

<p>
    <button type="button" class="btn btn-outline-success">
        <a asp-action="Create">Cadastrar Novo</a>
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary">
                        <a asp-action="Edit" asp-route-id="@item.id">Editar</a>
                    </button>
                    <button type="button" class="btn btn-secondary">
                        <a asp-action="Details" asp-route-id="@item.id">Detalhes</a>
                    </button>
                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Delete" asp-route-id="@item.id">Deletar</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
